version: "3.9"
services:
  # start the ganache cli container
  ganache-cli:
    container_name: ganache-cli
    image: trufflesuite/ganache-cli
    entrypoint:
      [
        "node",
        "/app/ganache-core.docker.cli.js",
        "--quiet",
        "--networkId",
        "57771",
        "--verbose",
        "--host",
        "0.0.0.0",
      ]
    expose:
      - 8545
    ports:
      - 8545:8545
    networks:
      - ganache-network
  truffle-suite:
    container_name: truffle-suite
    # image: crizstian/devcontainer-truffle:latest
    build:
      context: ../contrib/docker
      dockerfile: truffle.Dockerfile
    volumes:
      - ..:/workspace:delegated
    depends_on:
      - ganache-cli
    networks:
      - ganache-network
    links:
      - ganache-cli:ganache-cli
    command: /bin/sh -c "while sleep 1000; do :; done"
networks:
  ganache-network:
